.router-scope {
  position: fixed;
  width: 100%;

  &-line {
    width: 0;
    height: 5.5px;
    background: linear-gradient(242.07deg, #b377e7c1 52.03%, color(light) 73.09%);
    background-size: 400% 400%;
    animation: content-loader-anim 1.5s infinite;
    transition: 0.2s ease;
  }

  &-start {
    width: 40%;
  }

  &-complete {
    width: 100%;
  }
}
