.country-item {

    border-right: 0;

    img {
        margin-right: 5px;
        width: 25px !important;
        min-width: 25px !important;
        height: 25px !important;
        min-height: 25px !important;
    }

    .view-formatter  {
        min-width: 60px;

        p {
            @include font-size-override(small);
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }

    }
    
}
