.footer {
  color: color(white);

  &-link {
    display: block;
    word-wrap: break-word;
  }

  &-logo {

    @media only screen and (max-width: 1400px) {
      max-width: 150px;
      max-height: 30px;
    }

    margin-bottom: 30px;
    max-width: 214px;
    height: 44px;

    img {
      width: 100%;
      height: 100%;
    }

  }

  &-icon-set {
    display: flex;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      padding: 0;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    p {
      margin-left: 10px !important;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  p,
  a {
    @include font-size(regular);
    margin: 6px 0;
    line-height: 1.7;
  }

  &-location-set {
    display: flex;
    align-items: flex-start;
    margin: 25px 0;

    img {
      margin-right: 10px;
    }

    p {
      margin: 0;
      line-height: unset;
    }
  }

  h1 {
    @include font-size(medium);
    margin-bottom: 10px;
    color: white;
  }
}
