.view-formatter {
  width: 100%;

  &-wrapper-box {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 15px;

    &.icon-align > .view-formatter-left-icon {
      margin-top: auto;
      margin-bottom: auto;
    }

    &.collapsible {
      padding-top: 0;
    }

    &.classic {
      padding: 0;
    }
  }

  &-title-box {
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  &-left-icon {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.0523656);
    border-radius: 100%;
    width: 45px;
    min-width: 45px;
    height: 45px;
    min-height: 45px;
    object-fit: cover;

    &:last-child {
      box-shadow: 0 0 0 0 rgba(0, 0, 0);
    }
  }

  span {
    display: block;
    transition: 0.4s ease-in-out max-height;
  }

  p {
    @include font-size(regular);
    margin: 0;
    color: color(input-placeholder);
  }

  span p {
    color: color(darker);
  }

  &.reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  &.classic {
    display: flex;
    align-items: center;

    p:first-child {
      font-weight: 500;
    }
  }

  &.collapsible {
    position: relative;
    cursor: pointer;

    .collapsible-icon {
      position: absolute;
      top: 20px;
      right: 10px;
      transition: 0.2s ease;

      svg {
        height: 15px;
      }
    }

    &-show .collapsible-icon {
      transform: rotate(0.25turn);
    }

    p:not(span p) {
      margin-bottom: 20px;
    }

    p {
      text-transform: unset;
      color: color(dark);
    }

    &-show p:not(span p) {
      color: color(faux-blue);
    }

    span {
      max-height: 0;
      overflow: hidden;
    }

    &-show span {
      max-height: 1200px;
    }
  }

  &-right-arrow svg {
    width: 16px !important;
    height: 16px !important;
  }
}
