.landing-page {

  &-section-one {
    // @extend %body-width-and-padding;

    @include media-query(pc-low-resolution) {
      height: 400px;
    }

    @include media-query(mobile) {
      padding: 210px 10px 130px !important;
      height: unset;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/sectionOne_img_mobile.png);

      h1 {
        @include font-size-override(xx-large);
        margin: auto;
        max-width: 340px !important;
      }

    }

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 440px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/sectionOne_img_.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h1 {

      @include media-query(mobile) {
        line-height: 1.8;
      }

      @include font-size(xxx-large);
      max-width: 950px;
      text-align: center;
      text-transform: capitalize;
      color: color(white);
    }

  }

  &-section-two {

    &-wrapper {
      background: color(solitude);
    }

    @extend %body-width-and-padding;

    h1 {
      margin-bottom: 42px;
      color: color(darker);
    }

    &-flex {

      @include media-query(mobile) {
        flex-direction: column;
      }

      display: flex;
      justify-content: space-between;

      &-left {

        @include media-query(pc-high-resolution) {
          max-width: 460px;
        }

        max-width: 560px;
      }

      &-left p {

        line-height: 1.8;

        &:first-child {
          margin-top: 0 !important;
        }

      }

      &-left p:last-child {
        margin-top: 20px;
      }

      &-right {

        @include media-query(pc-low-resolution) {
          max-width: 350px;
        }

        @include media-query(mobile) {
          margin-top: 36px;
        }

        img {
          width: 100%;
          height: 100%;
        }

      }

    }

  }

  &-section-three {

    @extend %body-width-and-padding;
    text-align: center;

    &-div {
      margin: auto;
      max-width: 505px;
    }

    h1 {
      margin-bottom: 12px;
      color: color(primary);
    }

    p {
      line-height: 1.6;
    }

    button {
      margin-top: 24px;
      width: max-content;
    }

  }

  &-section-newsletter {

    padding-bottom: 60px !important;

    &-buttons {

      @include media-query(mobile) {
        flex-wrap: wrap;
      }

      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;

      .button:first-child {

        @include media-query(mobile) {
          margin-right: 0;
          margin-bottom: 15px;
        }

        margin-right: 23px;
        background: color(lighter-primary);
        color: color(primary);

      }

    }

    h1 {
      @include font-size-override(x-large);
    }

    .landing-page-section-three-div {
      max-width: 610px;
    }

    p {
      line-height: 1.9 !important;
    }

    .form-field-title {
      text-align: left;
    }

    .labelled-checkbox p {
      line-height: 1.15;
    }

    .button {
      margin-top: 10px;
      width: 100%;
    }

  }

  &-section-partners {

    @extend %body-width-and-padding;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0 !important;

    &-part {

      @include media-query(mobile) {
        flex-wrap: wrap;
        justify-content: center;
      }

      display: flex;
      align-items: center;
    }

    h1 {
      @include font-size(large);
      margin-bottom: 25px;
    }

    img {

      @include media-query(mobile) {
        margin-right: 0;
        margin-bottom: 24px;
        max-width: 137px;
      }

      margin-right: 80px;
      max-width: 180px;
      max-height: 60px;

      &:last-child {
        margin-right: 0;
      }

    }

  }

  &-section-four {

    @extend %body-width-and-padding;

    &-heading {
      margin-bottom: 36px;
      width: max-content;

      h1 {
        color: color(darker);
      }

      span {
        display: block;
        margin-left: auto;
        width: 46px;
        height: 7px;
        background: color(primary);
      }

    }

    &-reasons {

      @include media-query(mobile) {
        flex-direction: column;
      }

      display: flex;
      flex-wrap: wrap;

      &-item {

        @include media-query(tablet) {
          min-width: 50%;
          max-width: 50%;
        }

        @include media-query(mobile) {
          margin-right: 0;
          min-width: unset;
          max-width: 350px;


          &:not(:first-child) {

            margin-top: 60px;

          }

        }

        padding: 36px 1.5%;
        min-width: 25%;
        max-width: 25%;

        p {
          @include font-size(regular);
        }

      }

      &-item img {
        margin-bottom: 36px;
      }

      h4 {
        @include font-size(large);
        margin-bottom: 4px;
        font-family: $header-font;
        font-weight: 600;
        color: color(darker);
      }

    }

  }

}
