.newsletter-form {

    h1 {

        @include media-query(mobile) {
            @include font-size(large);
        }

        text-align: center;
        word-break: break-word;
        font-family: $main-font;
        color: color(primary);
    }

    &-success {

        padding-top: 20px !important;
        padding-bottom: 20px;

        small {

            @include font-size(small);
            width: 100%;
            text-align: center;
            color: color(primary);

        }

    }

}
